<html>
<head>
    <meta charset="utf-8" />
    <title>
        <%= title %>
    </title>
</head>
<body>
    <form action="/submit-url" method="post">
        Url Git
        <input id ="url" name="UrlGit" type="text"/> <br />
        <input type="submit" onclick="alert(document.getElementById('url').value +' will be started')" name="action" value="start" />
        <input type="submit" onclick="alert(document.getElementById('url').value +' will be stopped')" name="action" value="stop" />
    </form>
    <div>
        Apps
        <ul>
                <% Object.keys(list).forEach(function(url){ %>
                    <li>
                        <%= url + ' : ' + list[url] %>
                    </li>
                <% })%>
        </ul>
    </div>
</body>
</html>